body {
    text-align: center;
}

p {
    padding: 5px;
    border: solid 2px;
    border-radius: 20px;
    text-align: center;
}

.frasePrueba {
    background-color: rgb(234, 148, 148);
}

button {
    margin-left: 10px;
    width: 49%;
    padding: 30px;
}

.isHidden {
    display: none;
}